@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
* {
  font-size: 1rem;  font-family: 'Special Elite', cursive;
}

body{
  background-image: url(images/plage2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 4rem;
}

main {
display: flex;
flex-direction: column;
}

.player1-account, .player2-account{
   margin: 10px;
   padding: 10px;
}

p{
  margin: 0px;
}

#new-game, #rules, #roll-dice, #hold {
  margin: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-controls{
  margin-bottom: 20px;
  margin-top: 20px;
}


#dice{
  align-self: center;
  margin-bottom: 10px;
  width: 50%;
  height: 50%;
}

#ground {
  background-color: white;
  display: flex;
  flex-direction: row;

}

img {
  width: 70%;
  height: 30%;
}

@media screen and (max-width: 714px) {
  h1 {
    font-size:2.5rem;
  }
  
  #ground {
    display: flex;
    flex-direction: column;
  }

}

